* {
  margin: 0px;
  padding: 0px;
}
html {
  background: url(../img/kompas.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.label {
  color: white;
}
.noord {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  /* horizontale verschuiving */
}

.zuid {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  /* horizontale verschuiving */
}

.oost {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
  /* verticale verschuiving */
}

.west {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translate(0, -50%);
  /* verticale verschuiving */
}
